@use "app/mixins" as *
@use "app/functions" as *

.root
	@include PageWrapper
.content
	display: block
	width: 100%
	height: 100%
	border: 2px solid $AdditionalUnAccent
	border-radius: toRem(10)
	position: relative
	// height: 140vh
.tabs
	@include FlexWrapper
	justify-content: center
	height: toRem(50)
	position: absolute
	bottom: toRem(-25)
	left: 0
	right: 0
	gap: toRem(5)
.background
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: -1
	// background-image: url("../../shared/assets/rick.png")
	background-repeat: no-repeat
	background-size: cover
	// backdrop-filter: grayscale(75%) hue-rotate(170deg) sepia(55%) // blur(1px)
.tab
	background-color: $BackgroundElements
	border: 2px solid $AdditionalUnAccent
	color: white
	text-decoration: none
	border-radius: toRem(26)
	height: toRem(50)
	width: toRem(50)
	display: flex
	align-items: center
	// justify-content: center
	overflow: hidden
	transition: $FastTransition
	cursor: pointer

.tab:hover
	width: toRem(150)
	transition: $FastTransition
.tab:hover .desc
	// display: block
	opacity: 1
.tab:hover .prev
	margin-right: auto
		// max-width: toRem(200)

.prev
	// padding: toRem(10)
	padding-left: 0.45rem
	width: toRem(30)
	height: toRem(30)

	fill: $AdditionalUnAccent
.desc
	// display: none
	white-space: nowrap
	transition: $FastTransition
	padding-right: toRem(20)
	opacity: 0
