@use "app/mixins" as *
@use "app/functions" as *

.resume
	@include PageWrapper

.experience, .skills
	display: flex
	gap: toRem(20)
	justify-content: space-between
	margin-bottom: toRem(50)

.jobs, .study
	max-width: 50%
	width: 100%

.skills
	&__hard, &__soft
		max-width: 50%
		width: 100%
