@use "app/mixins" as *
@use "app/functions" as *

.progress
    width: 100%
    height: toRem(15)
    border-radius: toRem(10)
    background: darken($AdditionalUnAccent, 5%)
    margin: toRem(5) 0
    overflow: hidden
    &_fill
        display: block
        background: $AdditionalAccent
        height: 100%
        transition: $FastTransition

.levels
    display: flex
    justify-content: space-between
    margin-bottom: toRem(10)
